@keyframes showTopMenu {
  0%   {transform: translateY(100%) scale(0.8) ; opacity: 0;}
  80%   {transform: translateY(100%) scale(1.1); opacity: 100%;}
  100%   {transform: translateY(100%) scale(1); opacity: 100%;}
}

.top-bar {
  width: 100%;
  text-align: right;
  white-space: nowrap;
  padding-bottom: 1em;


  &__fog {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

.user {
  position: relative;
  display: inline-block;

  &__list {
    position: absolute;
    display: block;
    bottom: 0;
    right: 0;
    transform: translateY(100%);
    background: $background-menu;
    animation: showTopMenu .3s;
  }

  &__main-item {
    color: $text;
    display: block;
    padding: .5em;
    white-space: nowrap;
    transition: color .3s;
    cursor: pointer;

    &--active {
      background: $background-menu;
      color: $text-selected;
    }

    &:hover {
      color: $text-selected;
    }
  }

  &__item {
    display: block;
    color: $text;
    padding: .5em;
    font-weight: normal;
    transition: color .3s;
    cursor: pointer;
    white-space: nowrap;
    text-align: right;

    &:hover {
      color: $text-selected;
    }
  }
}

.lang-switch {
  display: inline-block;
  position: relative;

  &__list {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    transform: translateY(100%);
    background: $background-menu;
    animation: showTopMenu .3s;
  }

  &__main-item {
    transition: .3s color;
    padding: .5em;
    display: block;
    color: $text;
    font-weight: normal;
    cursor: pointer;

    &:hover {
      color: $text-selected;
    }

    &--active {
      background: $background-menu;
      color: $text-selected;
    }
  }

  &__item {
    padding: .5em;
    display: block;
    color: $text;
    font-weight: normal;
    cursor: pointer;
    transition: color .3s;

    &:hover {
      color: $text-selected;
    }
  }
}
